body {
  padding-top: 5rem;
  background-image: url("../img/body_bg.jpg");
  color:white;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#portrait{
    border-radius: 100%;
}
#animate{
    position: absolute;
    width:60%;
}
.quote{
    font-style: italic;
}
.nodotlist{
  list-style: none;
  color:white;
}
.nodotlist a{
    color:white;
}